{% extends 'base.html.twig' %}

{% block title %}Societe index{% endblock %}

{% block body %}

<style>
.modif {
  border: 1px solid black;
}
</style>
    <h1>Societe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_siren</th>
                <th>Ville_imm</th>
                <th>Date_imm</th>
                <th>Nom</th>
                <th>Capital</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                <td>{{ societe.id }}</td>
                <td>{{ societe.numSiren }}</td>
                <td>{{ societe.villeImm }}</td>
                <td>{{ societe.dateImm ? societe.dateImm|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ societe.nom }}</td>
                <td>{{ societe.capital }}</td>
                <td>
                    <a href="{{ path('societe_show', {'id': societe.id}) }}">show</a>
                    <a href="{{ path('societe_edit', {'id': societe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('societe_new') }}">Create new</a>


    
    <br><br>

<h1>Historique de Modifications</h1>
    <table class="modif">
        <thead>
            <tr>
              
                <th class="modif">Date</th>
                <th class="modif">Heure</th>
                <th class="modif">Operation</th>
                <th class="modif">Table</th>
            </tr>
        </thead>
        <tbody>
        {% for modification in modifications %}
            <tr>
               
                <td class="modif">{{ modification.date|date("d/m/Y") }}</td>
                <td class="modif">{{ modification.heure|date("H:i:s")}}</td>
                <td class="modif">{{ modification.operation}}</td>
                <td class="modif">{{ modification.getNomTable()}}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
